<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <p>Select an identity.</p>
  </div>
</div>
<hr/>

{{#each identities}}
<div class="row">
  <a onclick="route('selected', {{this.id}})">
    <div class="col-offset-1 col-xs-3 col-md-2 text-right">
      <img src="{{this.picture}}" width="64" height="64">
      <!--<div class="circle-avatar" style="'background-image:url('+{{this.picture}}+')'"></div>-->
    </div>
    <div class="col-xs-7 col-md-8 alignme">
      <span class="bold">{{this.name}}</span><br>
      <span class="small text-light">{{this.iss}}</span>
    </div>
  </a>
  <br><br>
  <br><br>
</div>
{{/each}}
<hr/>

<div class="row">
  <a class="col-xs-offset-1 col-xs-10" onclick="route('search', 0)">
    <!--<img class="img-responsive" src="assets/plusIcon.jpg"/>-->
    <span>Add an identity</span>
  </a>
  <a class="col-xs-offset-1 col-xs-10" onclick="route('select', 0)">
    <!--<img class="img-responsive" src="assets/plusIcon.jpg"/>-->
    <span>Select</span>
  </a>
</div>
